* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 70%);
  color: #fff;
  font-size: 4rem;
}
.digital-clock {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border-radius: 15px;
  box-shadow: 10px 10px 50px black;
  background: hsl(0, 0%, 40%);
  transition: all 0.4s ease;
}

.clock {
  font-size: 1.8em;
  padding: 10px;
}

.digital-clock:hover {
  background: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 30%);
}

.day-period {
  font-size: 0.5em;
}

@media screen and (max-width: 425px) {
  .digital-clock {
    width: 80%;
    height: 80%;
    flex-direction: column;
    padding: 0;
  }
  .digital-clock:hover {
    background: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 30%);
  }
  .colon {
    display: none;
  }
}
